body {
    background-color: #E0E0E0;
    color: #660000;
    font-family: Arial;
    width: 60%;
    margin: 0 auto;
}

div {
    width: 400px;
    margin: 50px;
}
h1 {
    text-align: center;
}
#bal {
    float: left;
    width: 55px;
}

#jobb {
    float: right;
    width: 55px;
}